{% load crispy_forms_tags %}
<!doctype html>
<html>
     <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
        <link href="css/style.css" rel="stylesheet">
    </head>
    {{logout}}
    <body>
        <div class="container">
            <form id="loginForm">
            {{form|crispy}}
                <input type="email" id="inputEmail" class="form-control" placeholder="Email Address" required autofocus>
                <input type="button" value="Generate OTP" id="gen_otp" onclick="window.location.href='signin.html'" />
            </form>
        </div>
    </body>
</html>
