<!doctype html>
<html>
     <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <form id="loginForm">
                <div style="text-align:center;">
                    <h3>Welcome User</h3>
                </div>
                <input type="button" value="Log Out" id="logout" onclick="window.location.href='index.html'" />
                <input style="float:right;" type="button" value="Edit" id="edit" onclick="window.location.href='edit.html'"  />
            </form>
        </div>
    </body>
</html>